.blog {
    padding-top: 6.25rem;
  }
  .blog-items {
    margin-top: 3.12rem;
    display: flex;
    justify-content: space-between;
  }
  .blog-item {
    overflow: hidden;
    margin-right: 3%;
    box-sizing: border-box;
  }
  .blog-item:hover {
    box-shadow: 0 10px 20px rgb(5 54 77 / 10%);
  }
  .blog-item:hover .blog-item__info {
    background-color: white;
  }
  .blog-item__image {
    overflow: hidden;
  }
  .blog-item__image img {
    width: 100%;
    vertical-align: middle;
    transition: all   0.4s ease 0s;
    -webkit-transition: all   0.4s ease 0s;
    -moz-transition: all   0.4s ease 0s;
    -ms-transition: all   0.4s ease 0s;
    -o-transition: all   0.4s ease 0s;
  }
  .blog-item:hover .blog-item__image img {
    transform: scale(1.1);
  }
  .blog-item__info {
    background-color: #F8FAFF;
    padding: 1.87rem;
    color: #797979;
  }
  .blog-item__main-info span {
    font-size: 0.87rem;
    margin-right: 1.87rem;
    font-weight: lighter;
  }
  .blog-item__info i {
    margin-right: 0.30rem;
  }
  .blog-item__title {
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 0.93rem;
    color: #05364d;
    font-weight: 700;
  }
  .blog-item__description {
    line-height: 1.68rem;
    font-size: 0.93rem;
    font-weight: lighter;
  }
  .blog-item__learn-more {
    font-size: 0.81rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #05364d;
    text-decoration: none;
  }
  .blog-item__learn-more:hover {
    color: #ed239f;;
  }